.hero-landing-container {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-landing {
  padding-top: 93px;
  min-height: 400px;
}

.hero-landing h2 {
  font-size: 22.512px;
  font-weight: 700;
  margin: 0 0 11px;
}

.hero-landing h2 img {
  max-width: 100%;
  height: auto;
}

.hero-landing p {
  font-size: var(--body-font-size-s);
  margin: 0 0 28px;
  line-height: 2;
}

.hero-landing a {
  display: block;
  color: var(--link-color);
  text-decoration: none;
  font-size: var(--body-font-size-s);
  transition: color var(--transition-default);
}

.hero-landing a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

@media (width >= 900px) {
  .hero-landing-container {
    background-size: contain;
  }
}

@media (width < 900px) {
  .hero-landing {
    padding-top: 40px;
    background-position: center;
  }

  .hero-landing-container {
    background-size: cover;
  }
}
