.columns-info > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns-info img {
  width: 100%;
}

.columns-info > div > div {
  order: 1;
  padding: 49px 0 0;
}

.columns-info > div > .columns-info-img-col {
  order: 0;
}

.columns-info > div > .columns-info-img-col img {
  display: block;
}

.columns-info a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  transition: color var(--transition-default);
}

.columns-info a:hover {
  color: var(--link-color);
}

.columns-info h3,
.columns-info h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 33.4px;
}

.columns-info p {
  font-size: 12px;
  margin: 0;
  line-height: 40px;
}

@media (width >= 900px) {
  .columns-info > div {
    align-items: flex-start;
    flex-direction: row;
    gap: 32px;
  }

  .columns-info > div > div {
    flex: 1;
    order: unset;
  }
}

@media (width < 900px) {
  .columns-info > div > div {
    padding-top: 24px;
  }
}
